<div class="col-md-4">
  <%= avatar_image(user.avatar, "img-thumbnail") %>
</div>
<div class="col-md-8">
  <div class="col-md-12 box-info">
    <p><%= t ".name" %></p>
    <%= user.name %>
  </div>
  <div class="col-md-12 box-info">
    <p><%= t ".email" %></p>
    <%= user.email %>
  </div>
  <% if user.member? %>
    <div class="col-md-12 box-info">
      <p><%= t ".division" %></p>
      <%= user.division_name %>
    </div>
  <% end %>
  <div class="col-md-12 box-info">
    <p><%= t ".address" %></p>
    <%= user.addresses.map(&:detail).join(",") %>
  </div>
  <% if user.member? %>
    <div class="col-md-12 box-info">
      <p><%= t ".division" %></p>
      <%= user.division_name %>
    </div>
  <% end %>
  <div class="col-md-12 box-info">
    <p><%= t ".role" %></p>
    <%= user.role %>
  </div>
</div>
