<div class="col-md-12">
  <h4><%= t ".user_searching" %></h4>
</div>
<%= form_tag manager_users_path, method: :get do %>
  <%= text_field_tag :name, params[:name], class: "form-control", placeholder: t(".type_input") %>
  <br/>
  <%= submit_tag t(".search"), class: "btn btn-info" %>
  <%= link_to t(".show_all"), manager_users_path, class: "btn btn-success" %>
  <%= link_to t(".add_account"), new_manager_user_path, class: "btn btn-primary" %>
<% end %>
