<tr>
  <td>
    <% if report.waitting? %>
      <%= check_box_tag "report_ids[]", report.id, false, class: "report-checkbox" %>
    <% else %>
      <%= check_box_tag "report_ids[]", report.id, false, disabled: true %>
    <% end %>
  </td>
  <td><%= report.division_name %>
  <td><%= report.user_name %></td>
  <td><%= report.today_plan %></td>
  <td><%= report.created_at.strftime(Settings.reports.report.format_date) %></td>
  <td><span class="<%= report.status %>_color"><%= report.status %></span></td>
  <td>
    <%= link_to t(".detail"), manager_report_path(report.id) %>
  </td>
</tr>
