<%= form_for @user, locals do |f| %>
  <div>
    <%= render "shared/error_messages", object: f.object %>
  </div>
  <div class="form-group">
    <%= f.label :name, t(".name") %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email, t(".email") %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password, t(".password") %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, t(".password_confirmation") %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.fields_for :addresses do |address| %>
      <%= render "address_fields", f: address %>
    <% end %>
    <%= link_to_add_association f, :addresses do %>
      <%= t ".add_addresses" %>
    <% end %>
  </div>
  <div class="form-group">
    <h4><%= t ".division" %></h4>
    <%= f.select :division_id, options_for_select(Division.pluck(:name, :id)) %>
  </div>
  <div>
    <%= f.button t(".add"), class: "btn btn-primary" %>
  </div>
<% end %>
